body{
    background-color: #254336;
    font-family: 'Times New Roman', Times, serif;
}.conteiner{
    width: 350px;
    height: max-content;
    margin: auto;
    margin-top: 50px;
    position: relative;
    background-color: #6B8A7A;
    border-radius: 10px;
}
p{
    background-color: #B7B597;
    border: solid 1px black;
    border-radius: 5px;
}
.numeros{
    margin-left: 40px;
    width: max-content;
}

.boton1{
    margin-left: 120px;
}

button{
    width: 50px;
    height: 50px;
    background-color: #DAD3BE;
    border-radius: 20px;
}